<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VTWebLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.2.2.0" newVersion="106.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.2.0" newVersion="1.8.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <VTWebLib.Properties.Settings>
      <setting name="PHPSESSID" serializeAs="String">
        <value />
      </setting>
      <setting name="PHPSESSEXPIRES" serializeAs="String">
        <value>2018-05-07</value>
      </setting>
      <setting name="LastClean" serializeAs="String">
        <value>06/13/2018 15:00:00</value>
      </setting>
      <setting name="TotalFailed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Count" serializeAs="String">
        <value>0</value>
      </setting>
    </VTWebLib.Properties.Settings>
  </userSettings>
</configuration>